* {
  text-align: center;
}

h1 {
  margin: 20px;
}

p {
  font-size: 20px;
  margin: 30px 2px;
}

button {
  padding: 10px 8px;
  font-size: 15px;
  text-decoration: none;
  background-color: aqua;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid;
}
